@page "/cards/details"
@using Microsoft.EntityFrameworkCore
@using ProjectCardPark1.Domain
@inject IDbContextFactory<ProjectCardPark1.Data.ProjectCardPark1Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Card</h2>
    <hr />
    @if (card is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">CardId</dt>
            <dd class="col-sm-10">@card.CardId</dd>
            <dt class="col-sm-2">Condition</dt>
            <dd class="col-sm-10">@card.Condition</dd>
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@card.Name</dd>
            <dt class="col-sm-2">ListingId</dt>
            <dd class="col-sm-10">@card.ListingId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@card.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@card.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@card.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@card.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/cards/edit?id={card.Id}")">Edit</a> |
            <a href="@($"/cards")">Back to List</a>
        </div>
    }
</div>

@code {
    private Card? card;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        card = await context.Card.FirstOrDefaultAsync(m => m.Id == Id);

        if (card is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
