@page "/listings/details"
@using Microsoft.EntityFrameworkCore
@using ProjectCardPark1.Domain
@inject IDbContextFactory<ProjectCardPark1.Data.ProjectCardPark1Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<div class="container">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2 class="text-center">Listing Details</h2>
        </div>
        <div class="card-body">
            @if (listing is null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <div class="row mb-4">
                    <div class="col-md-4">
                        <img src="@listing.ListingImageUrl" alt="Listing Image" class="listing-image" />
                    </div>
                    <div class="col-md-8">
                        <dl class="row">
                            <dt class="col-sm-3">CreatedBy</dt>
                            <dd class="col-sm-9">@listing.UserName</dd>

                            <dt class="col-sm-3">Name</dt>
                            <dd class="col-sm-9">@listing.Name</dd>

                            <dt class="col-sm-3">Price</dt>
                            <dd class="col-sm-9">@listing.Price</dd>

                            <dt class="col-sm-3">Amount</dt>
                            <dd class="col-sm-9">@listing.Amount</dd>

                            <dt class="col-sm-3">CategoryId</dt>
                            <dd class="col-sm-9">@listing.CategoryId</dd>

                            <dt class="col-sm-3">Description</dt>
                            <dd class="col-sm-9">@listing.Description</dd>

                            <dt class="col-sm-3">Date Created</dt>
                            <dd class="col-sm-9">@listing.DateCreated</dd>

                            <dt class="col-sm-3">Date Updated</dt>
                            <dd class="col-sm-9">@listing.DateUpdated</dd>

                            <dt class="col-sm-3">Updated By</dt>
                            <dd class="col-sm-9">@listing.UpdatedBy</dd>
                        </dl>
                    </div>
                </div>
                <div class="text-center">
                    <a href="@($"/listings")" class="btn btn-primary">Back to List</a>
                </div>
            }
        </div>
    </div>
</div>

@code {

    private Listing? listing;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        listing = await context.Listing.FirstOrDefaultAsync(m => m.Id == Id);

        if (listing is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
